* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

body {
  display: flex;
  min-height: 100vh;
}

aside {
  background-color: red;
  flex-basis: 0;
  flex-grow: 1;
}

main {
  background-color: blue;
  flex-basis: 0;
  flex-grow: 4;
}

#sommaire {
  display: none;
}

h1 {
  cursor: pointer;
}

h1:hover {
  text-decoration: underline;
}
